@charset "UTF-8";

body {
    background-color: rgb(102, 161, 63);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(5, 243, 84);
}

#principal {
    text-align: center;
    background-color: blue;
}

h2 {
    color: rgb(54, 202, 247);
}

.basico {
    color:rgb(255, 0, 0) ;
    font-weight: bold;
}

.intermediario {
    color: brown;
}

.avancado {
    color: blueviolet;
}

.destaque {
        background-color:  rgba(255, 238, 0, 0.651);;
}