body{
            background-color: blueviolet;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
        }

        h1 {
            color: brown;
        }

        h2 {
            color: rgb(255, 238, 0);
        }

        p {
            text-align: justify;
        }