@charset "UTF-8";

 * {
    font-family: Arial, Helvetica, sans-serif;
 }

 body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
 }

 main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
 }

 h1 {
    color: rgb(160, 101, 34);
    text-align: center;
    text-shadow: 1px 1px 2px black;
 }

 h2 {
    color: rgb(253, 51, 0);

 }

 p {
    text-align: justify;
 }

